<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sua Consulta</title>
    <link rel="stylesheet" href="../../static/css/atendente/selecionar.css">
</head>
<body>
    <header>
        <a href="/atendente/home" class="back-button">
            <img src="../../static/images/botaoVoltarImg.png" alt="Voltar">
        </a>
        <img src="../../static/images/suaConsultaLogo.png" alt="Sua Consulta" class="logo">
    </header>
    
    <p>Bem-vindo à página inicial do atendente!</p>
    <p>Selecione o que você quer acessar: </p>

    <button onclick="window.location.href='/auth/paciente/home'">Menu Paciente</button>

    <button onclick="window.location.href='/auth/atendente/home'">Menu atendente</button>
</body>
</html>