<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sua Consulta</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <h1>Página da consulta</h1>

    <div style="display: flex;">
        <!-- Sidebar -->
        <aside style="width: 25%; padding: 10px; background-color: #f0f0f0; border-right: 1px solid #ccc;">
            <h2>Informações do Paciente</h2>
            <ul>
                <li>Nome: <span th:text="${nomePessoa}"></span></span></li>
                <li>Idade: <span th:text="${idade}"> anos</li>
                <li>Sexo: <span th:text="${sexo}"></li>
            </ul>
        </aside>

        <!-- Main Content -->
        <main style="flex: 1; padding: 20px;">
            <h2>Prontuário da Consulta</h2>
            <div style="margin-bottom: 20px;">
                <h3>Descrição do Paciente:</h3>
                <p><span th:text="${observacoes}"></span></p>
            </div>
            <form id="consultaForm" th:action="@{/auth/medico/consulta}" method="POST">
                <input type="hidden" id="consultaId" name="consultaId" th:value="${id}"> <!-- Campo oculto para o ID da consulta -->
                <label for="prontuario">Escreva o prontuário:</label><br>
                <textarea id="prontuario" name="prontuario" rows="10" cols="50" placeholder="Descreva os detalhes da consulta aqui..."></textarea><br><br>
                <button type="button" id="submitButton">Salvar Prontuário</button>
            </form>
        </main>
    </div>

    <script>
        document.getElementById('submitButton').addEventListener('click', function () {
            Swal.fire({
                title: 'Você tem certeza?',
                text: "Deseja salvar o prontuário e finalizar a consulta?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sim, salvar!',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById('consultaForm').submit();
                }
            });
        });
    </script>
</body>
</html>