<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sua Consulta</title>
    <link rel="stylesheet" href="../../static/css/medico/consulta.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <header>
        <button class="back-button" onclick="window.location.href='/auth/medico/home'">
            <img src="../../static/images/botaoVoltarImg.png" alt="Voltar">
        </button>
        <img src="../../static/images/suaConsultaLogo.png" alt="Logo" class="logo">
    </header>

    <div class="container">
        <div class="main-content">
            <!-- Sidebar -->
            <aside class="sidebar">
                <h2>Informações do Paciente</h2>
                <ul>
                    <li>Nome: <span th:text="${nomePessoa}"></span></li>
                    <li>Idade: <span th:text="${idade}"> anos</span></li>
                    <li>Sexo: <span th:text="${sexo}"></span></li>
                </ul>
            </aside>

            <!-- Main Content -->
            <main class="consultation-content">
                <h2>Prontuário da Consulta</h2>
                <div class="patient-description">
                    <h3>Descrição do Paciente:</h3>
                    <p><span th:text="${observacoes}"></span></p>
                </div>
                <form id="consultaForm" th:action="@{/auth/medico/consulta}" method="POST" class="consultation-form">
                    <input type="hidden" id="consultaId" name="consultaId" th:value="${id}">
                    <div class="form-group">
                        <label for="prontuario">Escreva o prontuário:</label>
                        <textarea id="prontuario" name="prontuario" rows="10" cols="50" placeholder="Descreva os detalhes da consulta aqui..."></textarea>
                    </div>
                    <button type="button" id="submitButton">Salvar Prontuário</button>
                </form>
            </main>
        </div>
    </div>

    <script>
        document.getElementById('submitButton').addEventListener('click', function () {
            Swal.fire({
                title: 'Você tem certeza?',
                text: "Deseja salvar o prontuário e finalizar a consulta?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sim, salvar!',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById('consultaForm').submit();
                }
            });
        });
    </script>
</body>
</html>