<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sua Consulta</title>
    <link rel="stylesheet" href="/static/css/medico/selecionar.css">
</head>
<body>
    <header>
        <img src="/static/img/logo.png" alt="Logo Sua Consulta" class="logo">
    </header>

    <div class="container">
        <div class="main-content">
            <div class="selection-container">
                <h2>Bem-vindo à página inicial do médico!</h2>
                <p>Selecione o que você quer acessar:</p>

    <button onclick="window.location.href='/auth/paciente/home'">Menu Paciente</button>

    <button onclick="window.location.href='/auth/medico/home'">Menu médico</button>

</body>
</html>