<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sua Consulta</title>
    <link rel="stylesheet" href="/static/css/cadastro.css">
    <script src="/js/buscarCep.js"></script>
    <script src="/js/formatador.js"></script>
</head>
<body>
    <header>
        <div class="container">
            <img src="/static/images/suaConsultaLogo.png" alt="Logo Sua Consulta" class="logo">
        </div>
    </header>

    <div class="register-container">
        <div class="register-form">
            <h2>Cadastro de Usuário</h2>

            <form th:action="@{/auth/cadastro}" th:object="${usuario}" method="post">
                <div class="form-group">
                    <label for="nome">Nome:</label>
                    <input type="text" th:field="*{nome}" name="nome" required autocomplete="off"/>
                    <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="error-message show"></span>
                </div>
            
                <div class="form-group">
                    <label for="cartaosus">Cartão SUS:</label>
                    <input type="text" th:field="*{cartaosus}" name="cartaosus" maxlength="15" required autocomplete="off"/>
                    <span th:if="${#fields.hasErrors('cartaosus')}" th:errors="*{cartaosus}" class="error-message show"></span>
                </div>
            
                <div class="form-group">
                    <label for="cpf">CPF:</label>
                    <input type="text" th:field="*{cpf}" name="cpf" maxlength="14" oninput="formatarCPF(this)" required autocomplete="off"/>
                    <span th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}" class="error-message show"></span>
                </div>
            
                <div class="form-row">
                    <div class="form-group">
                        <label for="datanasc">Data de nascimento:</label>
                        <input type="date" th:field="*{datanasc}" name="datanasc" required autocomplete="off"/>
                        <span th:if="${#fields.hasErrors('datanasc')}" th:errors="*{datanasc}" class="error-message show"></span>
                    </div>
                
                    <div class="form-group">
                        <label for="sexo">Sexo:</label>
                        <select th:field="*{sexo}" name="sexo" required>
                            <option value="">Selecione</option>
                            <option value="M">Masculino</option>
                            <option value="F">Feminino</option>
                        </select>
                        <span th:if="${#fields.hasErrors('sexo')}" th:errors="*{sexo}" class="error-message show"></span>
                    </div>
                </div>
            
                <div class="form-row">
                    <div class="form-group">
                        <label for="telefone">Telefone:</label>
                        <input type="text" th:field="*{telefone}" name="telefone" maxlength="15" oninput="formatarTelefone(this)" required autocomplete="off"/>
                        <span th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}" class="error-message show"></span>
                    </div>
                
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" th:field="*{email}" name="email" required autocomplete="off"/>
                        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error-message show"></span>
                    </div>
                </div>
            
                <div class="form-group">
                    <label for="senha">Senha:</label>
                    <input type="password" th:field="*{senha}" name="senha" required autocomplete="off"/>
                    <span th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}" class="error-message show"></span>
                    <div class="password-requirements">
                        <ul>
                            <li id="length">Mínimo de 8 caracteres</li>
                            <li id="uppercase">Pelo menos uma letra maiúscula</li>
                            <li id="lowercase">Pelo menos uma letra minúscula</li>
                            <li id="number">Pelo menos um número</li>
                            <li id="special">Pelo menos um caractere especial</li>
                        </ul>
                    </div>
                </div>
            
                <div class="form-group">
                    <label for="cep">CEP:</label>
                    <input type="text" th:field="*{cep}" onblur="buscarEndereco()" name="cep" required autocomplete="off"/>
                    <span th:if="${#fields.hasErrors('cep')}" th:errors="*{cep}" class="error-message show"></span>
                </div>
            
                <div class="form-row">
                    <div class="form-group">
                        <label for="logradouro">Rua:</label>
                        <input type="text" th:field="*{logradouro}" name="logradouro" required autocomplete="off"/>
                    </div>
                
                    <div class="form-group">
                        <label for="numero">Número:</label>
                        <input type="number" th:field="*{numero}" name="numero" required autocomplete="off"/>
                    </div>
                </div>
            
                <div class="form-row">
                    <div class="form-group">
                        <label for="bairro">Bairro:</label>
                        <input type="text" th:field="*{bairro}" name="bairro" required autocomplete="off"/>
                    </div>
                
                    <div class="form-group">
                        <label for="complemento">Complemento:</label>
                        <input type="text" th:field="*{complemento}" name="complemento" autocomplete="off"/>
                    </div>
                </div>
            
                <div class="form-row">
                    <div class="form-group">
                        <label for="localidade">Cidade:</label>
                        <input type="text" th:field="*{localidade}" name="localidade" required autocomplete="off"/>
                    </div>
                
                    <div class="form-group">
                        <label for="uf">Estado:</label>
                        <input type="text" th:field="*{uf}" name="uf" required autocomplete="off"/>
                    </div>
                </div>
            
                <button type="submit" class="register-button">CADASTRAR</button>
            </form>
        </div>
    </div>
</body>
</html>