<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sua Consulta</title>

    <!--<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>-->

    <script>
        function listarAssincrono() {
            $("#corpo").html('');

            $.getJSON('http://localhost:8080/api/medico/listarMedicos', function(data) {
                $.each(data, function(key, item) {
                    $("#corpo").append(`
                        <tr>
                            <td>${item.id}</td>
                            <td>${item.nome}</td>
                            <td>${item.crm}</td>
                            <td>${item.especialidade}</td>
                            <td>🛠️</td>
                            <td>❌</td>
                        </tr>
                    `);
                });

                document.getElementById("tabela-medicos").style.display = "table";
            });
        }
    </script>
</head>
<body>

    <button onclick="voltarInicio()">Fechar menu</button>

    <div>
        <h1>Lista de Médicos</h1>

        <button onclick="listarAssincrono()">Listar Médicos</button>

        <table id="tabela-medicos" style="display: none;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Pessoa</th>
                    <th>CRM</th>
                    <th>Especialidade</th>
                    <th>Alterar</th>
                    <th>Excluir</th>
                </tr>
            </thead>
            <tbody id="corpo">
                <!-- Dados carregados via JS -->
            </tbody>
        </table>
    </div>

</body>
</html>
